<h4>
    Hi guys. <br>
    So, this is my project actually. <br>
    I have no idea so I decided to develop the other project that i made before on 2nd week. <br>
    You guys can use this website to make a to-do-list for your activities. <br>
    This is so simple but not that easy for me to make this web. <br>
    That's all. <br>
    I don't know what I want to say but i don't want to leave this page empty. <br>
    It's not a blank page or an empty page or anything that you can say. <br>
    Okay, I'll stop here.<br><br>
    For Mr Richard, <br>
    Sorry for thinking if this's an easy project.<br>
    Well, it's not what I was thingking actually but just let it be like that.<br>
    I don't know what I have to do for this project. <br>
    I tried my best even I'm not good enough at coding. <br>
    Just want to let you know about that. <br>
    So, Godbless!<br><br>
    Pst, actually I tried to make the login page. <br>
    But it didn't work so there's no login page eheheh.
</h4>

<h6>58170473_MFA</h6>